{% extends 'core/base.html' %}

{% block title %}Movimentações de Estoque{% endblock %}

{% block content %}
    <h2>📦 Movimentações</h2>

    <table>
        <tr>
            <th>Data</th>
            <th>Produto</th>
            <th>Tipo</th>
            <th>Quantidade</th>
            <th>Observação</th>
        </tr>
        {% for m in movimentacoes %}
        <tr>
            <td>{{ m.data }}</td>
            <td>{{ m.produto.nome }}</td>
            <td>{{ m.tipo }}</td>
            <td>{{ m.quantidade }}</td>
            <td>{{ m.observacao }}</td>
        </tr>
        {% endfor %}
    </table>

    <a href="{% url 'nova_movimentacao' %}" class="button-link">➕ Nova Movimentação</a>
{% endblock %}
